.noticiasContenedor{
  background-color: green;
  height: 900px;
  width: 70%;
  margin: auto;
  position: relative;
  top: 100px;
}
.mapaTiempo{
    position: relative;
    top: 100px;
    right: 70px;
}
.mapaTiempo h1{
    position: relative;
    left: 370px;
}
.imagenTamano{
    border: 6px solid #555;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.imagenTamano {
    position: relative;
    left: 32%;
    z-index: 1;
}
#isla {
    display: none;



}

#isla:target {
    display: block;
    position: absolute;
    left: 900px;
    bottom: 635px;
    z-index: 3;


}

#Montana {
    display: none;
}

#Montana:target {
    display: block;
    position: absolute;
    left: 650px;
    bottom: 655px;
    z-index: 3;


}

#Jungla {
    display: none;



}

#Jungla:target {
    display: block;
    position: absolute;
    left: 700px;
    bottom: 755px;
    z-index: 3;


}

.solTamano {
    height: 50px;
    position: relative;
    left: 140px;
    top: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

#cerrarModal {
    display: none;
}