
#isla {
    display: none;



}

#isla:target {
    display: block;
    position: absolute;
    left: 900px;
    bottom: 635px;
    z-index: 3;


}

#Montana {
    display: none;
}

#Montana:target {
    display: block;
    position: absolute;
    left: 650px;
    bottom: 655px;
    z-index: 3;


}

#Jungla {
    display: none;



}

#Jungla:target {
    display: block;
    position: absolute;
    left: 700px;
    bottom: 755px;
    z-index: 3;


}

.solTamano {
    height: 50px;
    position: relative;
    left: 140px;
    top: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

#cerrarModal {
    display: none;
}