:root{
    margin: 0;
}
body{
    margin: 0;
}
header{
    width: 100%;
    background-color: yellow;
    position: fixed;
    top: 0;
}
header h1{
    margin: 0;
    text-align: center;
}
.contenidoPrincipal{
    margin-top: 55px;
}
.publicidad{
    background-color: grey;
    height: 400px;
    width: 10%;
    position: fixed;
    margin-top: 200px;
    border-radius: 10px;
}
.derecha{
    right: 10px;
}
.tablaPrincipal{
    position: relative;
    left: 770px;
    top: 500px;
     border-spacing: 20000px px
}