:root {
    margin: 0;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: rgb(94, 209, 27);
    position: fixed;
    top: 0;
    z-index: 2;
    border-radius: 0 0 10px 10px;
}

header h1 {
    margin: 0;
    color: white;
    text-align: center;
}
nav{
    background: rgb(155, 155, 155);
    overflow: hidden;
    border-radius: 0 0 10px 10px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 
}
.contenidoPrincipal {
    margin-top: 55px;
}
ul{
    margin: 0;
    list-style-type: disc;
    padding-left: 20px;
}
li{
   float: left;
   list-style-position: inside;
   margin-right: 20px;
    
}
.publicidad {
    background-color: grey;
    height: 400px;
    width: 10%;
    position: fixed;
    margin-top: 200px;
    border-radius: 10px;
}

.derecha {
    right: 10px;
}
.imagenCentral{
    position: relative;
    left: 900px;
    top: 100px;
}
.tablaPrincipal {
    position: relative;
    border: 1px solid black;
    left: 770px;
    top: 500px;
}

.tablaPrincipal tr td {
    border: 1px solid black;
}
.imagenTamano {
    position: relative;
    left: 32%;
    z-index: 1;
}

#isla {
    display: none;
    
    
    
}

#isla:target {
    display: block;
    position: absolute;
    left: 900px;
    bottom: 635px;
    z-index: 3;
  

}

#Montana {
    display: none;
    
    
    
}

#Montana:target {
    display: block;
    position: absolute;
    left: 650px;
    bottom: 655px;
    z-index: 3;
  

}
#Jungla {
    display: none;
    
    
    
}

#Jungla:target {
    display: block;
    position: absolute;
    left: 700px;
    bottom: 755px;
    z-index: 3;
  

}
.solTamano {
    height: 50px;
    position: relative;
    left: 140px;
    top: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    
}

#cerrarModal{
    display: none;
}
footer{
    color: white;
    background: rgb(89, 202, 24);
    text-align: center;
    position: fixed;
    top: 98.1%;
    width: 100%;
}
footer p{
    margin: 0;
    float: right;
    margin-right: 60px;
}
